<div class="well">
    <h1>Site de contact</h1>
    <p>Ce site est propulsé par <a href="http://wordpress.org/">WordPress</a>.</p>
    <p>Il est habillé avec le thème <a href="http://cyberchimps.com/responsive-theme/">Responsive Theme</a>
    et <a href="http://getbootstrap.com/">Bootstrap</a>.</p>
</div>
