<div class="well">
    <h1>Framakey</h1>
    <p>La Framakey est réalisée par une <a href="http://framakey.org/Divers/Equipe">équipe de bénévoles</a> du réseau Framasoft.</p>
    <p>Licences et crédits se trouvent <a href="http://framakey.org/Divers/Credits">sur cette page</a> (pas à jour).</p>
</div>
