<div class="well">
    <h1>Framavectoriel</h1>
    <p>Framavectoriel est une application permettant de réalisser des dessins au format vectoriel (SVG).<br>
    Il s'agit de la version française, traduite par l'association Framasoft, de l'application <a href="https://code.google.com/p/svg-edit/">"svg-edit"</a></p>
    <p>Framvectoriel est placé sous licence libre <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons BY-SA 3.0</a></p>
    <p>Pour toute question concernant Framavectoriel, vous pouvez utiliser le site <strong><a href="http://contact.framasoft.org">http://contact.framasoft.org</a></strong></p>
</div>
