.leaflet-top {
    top: 42px;
}

.storage-edit-enabled .storage-main-edit-toolbox {
    top:42px;
}

.storage-edit-enabled .leaflet-top {
    top: 90px;
}

.storage-edit-enabled #storage-ui-container {
    top: 88px;
}

#storage-alert-container {
    top: 42px;
}

#storage-tooltip-container {
    top: 102px;
}
