*, *:before, *:after {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

/* +52px partout */
#workarea, #sidepanels, #tools_left {
  top:112px !important;
}
#main_button {
  top:46px !important;
}
#tools_top {
  top:44px !important;
}
#svg_source_container {
  top:92px !important;
}

#tools_rect {
  top:214px !important;
}
#tools_ellipse {
  top:248px !important;
}
#tools_line {
  top:180px !important;
}
#tools_shapelib {
  top:176px !important;
}
#ruler_corner,#ruler_x,#ruler_y {
  top:113px !important;
}
#imgbrowse {
  top: 77px;
}